@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  font-weight: 400;
}

:root {
  --w-color: #fff;
  --light-white: #ffffffc3;
  --b-color: #010000;
  --primaryColor: #1e242a;
  --secondaryColor: #111111;
  --bg-color: linear-gradient(to right, #61f4de, #6e78ff);
  --light-blue-color: rgb(121, 171, 246);

  --btn-color: #2743fd;
  --btn-cate-color: #0320ff;
  --border-color: rgb(176, 176, 176);
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

/* layout */
.container {
  max-width: 142rem;
  margin: 0 auto;
  padding: 9rem 3rem;
}

.grid-two--cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid-four--cols {
  grid-template-columns: repeat(4, 1fr);
}

/* navbar css */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 0 50px;
  background-color: var(--primaryColor);
  color: var(--w-color);
}

.logo-container h2 {
  text-shadow: 0 0 20px var(--b-color);
}

.nav-item-container ul {
  display: flex;
  text-transform: uppercase;
}
.nav-item {
  margin: 0 10px;
  font-weight: 500;
}
.nav-item a:hover {
  transition: all 0.3s;
  color: var(--secondaryColor);
}
.nav-item a {
  color: var(--w-color);
}

.right-nav-container {
  display: flex;
  gap: 30px;
}

.search-icon,
.cart-icon,
.login-icon {
  cursor: pointer;
  :hover {
    transition: all 0.3s;
    color: var(--secondaryColor);
  }
}

.cart-icon {
  position: relative;
}
.cart-value {
  position: absolute;
  bottom: 10px;
  left: 30px;
}

@media (max-width: 767px) {
  .logo-container h2 {
    font-size: 0.9rem;
  }
  .nav-item-container {
    display: none;
  }
  .right-nav-container i {
    font-size: 0.9rem;
  }
  .right-nav-container .cart-value {
    font-size: 0.9rem;
    left: 20px;
    top: 2px;
  }
}

/* footer css */
footer {
  width: 100%;
  background-color: var(--secondaryColor);
}

.ft-icon-section {
  height: 200px;
}

.ft-icon-container {
  text-align: center;
  padding: 50px 0;
  i {
    font-size: 3rem;
    color: var(--w-color);
    margin: 0 10px;
    filter: drop-shadow(0 0 20px var(--primaryColor));
  }
}

.ft-item-container ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 1.3rem;
}
.ft-item a {
  color: var(--light-white);
  text-transform: uppercase;
}
.ft-item a:hover {
  color: var(--primaryColor);
}

.ft-own-section {
  height: 50px;
  background-color: var(--b-color);
  color: var(--w-color);
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    color: var(--light-white);
    font-weight: 600;
  }
}

@media (max-width: 767px) {
  .ft-icon-container i {
    font-size: 30px;
  }

  .ft-item a {
    font-size: 1.1rem;
  }

  .ft-own-section p {
    font-size: 0.8rem;
  }
}

/* hero section */

.section-hero {
  height: 52vh;
  display: flex;
  align-items: center;
  background: var(--bg-color);
}

.section-hero .grid {
  place-items: center;
  gap: 16rem;
}

.hero-content p {
  padding-left: 10px;
}

.hero-subheading {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
}

.hero-heading {
  font-size: 8.1rem;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 1;
}

.hero-para {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.hero-image img {
  width: 100%;
  height: auto;
}

.hero-btn {
  padding-left: 10px;
  margin-top: 10px;
}
.hero-btn a {
  background-color: var(--btn-color);
  color: var(--w-color);
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
}

@media (max-width: 767px) {
  .hero-image img {
    width: 371px;
    height: 324px;
  }
  .section-hero .grid {
    gap: 1rem;
  }
  .hero-subheading {
    font-size: 0.6rem;
  }
  .hero-heading {
    font-size: 2rem;
  }
  .hero-para {
    font-size: 0.8rem;
  }
}

/* main product section css*/
.main-product-category {
  width: 100%;
  justify-content: center;
  padding: 20px 0;
  gap: 20px;
}

.main-product-category button {
  width: 200px;
  padding: 10px 0;
  font-size: 1.1rem;
  background-color: var(--btn-color);
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--w-color);
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s linear;
}
.main-product-category button:hover {
  background-color: var(--btn-cate-color);
  box-shadow: 0 0 10px 2px rgba(6, 6, 6, 0.84);
}

.main-products-container {
  padding: 10px 50px;
  row-gap: 20px;
}
/* product template css */

.card {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.486);
  background-color: var(--light-white);
  padding: 10px;
  width: 300px;
  border-radius: 10px; 
}

.information .category {
  background-color: var(--light-blue-color);
  text-transform: uppercase;
  padding: 5px;
  display: inline-block;
  border-radius: 10px;
  color: var(--w-color);
}

.imageContainer {
  width: 100%;
  height: 250px;
  padding: 20px 0;
}

.product-image {
  width: 100%;
  height: 200px;
}

.productName {
  font-weight: 600;
  height: 80px;
}

.productRating {
  width: 100%;
  font-size: 0.8rem;
  display: flex;
  gap: 10px;
  padding: 10px 0;
}

.fa-star {
  color: gold;
}

.ratingCount {
  color: var(--btn-color);
}

.productPrice {
  font-weight: 600;
}

.productQuantityElement {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0.5rem 0rem;
}

.productProperty {
  font-weight: 600;
}

.stockElement {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stockElement {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  border: 0.2rem solid var(--border-color);

  & button {
    background: transparent;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }

  & :first-child {
    border-right: 0.2rem solid var(--border-color);
  }

  & :last-child {
    border-left: 0.2rem solid var(--border-color);
  }
  .productQuantity {
    padding: 0rem 1.5rem;
    font-weight: bold;
  }
}

.add-to-cart-button {
  background-color: var(--primaryColor);
  border: none;
  color: var(--w-color);
  padding: 0.8rem 2rem;
  border-radius: 5px;
  cursor: pointer;
}

.fa-cart-shopping {
  padding-right: 1rem;
}
